{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="card card-container">
        {% if error %}
            <div class="alert alert-primary" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" name="_username" id="inputEmail" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required autofocus autocomplete="username">
            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required autocomplete="current-password">
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->