{% extends 'base.html.twig' %}

{% block title %}Nos Biens en {{ type|capitalize }}{% endblock %}

{% block body %}
<div id="primary" class="content-area" style="margin-bottom: 0px;">
    <main id="main" class="site-main noo-container">
        <div class="noo-row">
            <div class="noo-main noo-md-12">
                <div class="noo-theme-wraptext">
                    <div class="wrap-title">
                        <h3 class="noo-theme-title">
                            <span class="first-word">Nos Biens en </span> {{ type }}
                        </h3>
                    </div>
                </div>
                <div class="noo-row noo-list-property style-grid">
                    {% for property in properties %}
                        <div class="noo-main noo-md-4">
                            <div class="noo-property-item-wrap">
                                <div class="noo-item-head">
                                    <h4 class="item-title">
                                        <a href="{{ property.url }}" title="{{ property.title }}">{{ property.title }}</a>
                                    </h4>
                                    <address>
                                        <i class="fa fa-map-marker-alt"></i>
                                        {% if property.neighborhood %}
                                            <span >{{ property.neighborhood }}</span> -
                                        {% endif %}
                                        <span >{{ property.street }}</span>
                                    </address>
                                </div>
                                <div class="noo-item-featured">
                                    <a href="{{ property.url }}" title="{{ property.title }}">
                                        <img class="rp-thumbnail" src="{{ asset('images/property/'  ~ property.image) }}" alt="{{ property.title }}">
                                    </a>
                                </div>
                                <div class="noo-info">

                                    {% if property.surface %}
                                        <span>
                                            <i class="cfa-yellow fas fa-ruler"></i> Surface: {{ property.surface }} m²
                                        </span>
                                    {% endif %}
                                    {% if property.room %}
                                        <span>
                                            <i class="cfa-yellow fas fa-bed"></i> Chambres: {{ property.room }}
                                        </span>
                                    {% endif %}
                                    {% if property.dpe %}
                                        <span>
                                            <i class="cfa-yellow fas fa-thermometer-half"></i> Classe DPE: {{ property.dpe }}
                                        </span>
                                    {% endif %}
                                    {% if property.floor %}
                                        <span>
                                            <i class="cfa-yellow fas fa-building"></i> Etage: {{ property.floor }}
                                        </span>
                                    {% endif %}
                                    {% if property.heating %}
                                        <span>
                                            <i class="cfa-yellow fas fa-fire"></i> Chauffage: {{ property.heating }}
                                        </span>
                                    {% endif %}
                                    {% if property.gse %}
                                        <span>
                                            <i class="cfa-yellow fas fa-home"></i> GES: {{ property.gse }}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="noo-action">
                                    <div class="property-price">
                                        {% if property.price > 0 %}
                                            {% if property.type == 'location' %}
                                                <h4 >{{ property.price }} euros / mois</h4>
                                            {% else %}
                                                <h4 >{{ property.price }} euros</h4>
                                            {% endif %}
                                        {% else %}
                                            <h4 >Renseignez-vous</h4>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
