{% extends 'base.html.twig' %}

{% block title %}Habitat Saint-Quentinois / oph St Quentin - Habitat Saint-Quentinois{% endblock %}

{% block body %}
    <section class="noo-page-heading noo-parallax " data-parallax="scroll" data-image-src="{{ asset('images/residence_blvd_pierret.jpg') }}">
        <div class="noo-container">
        </div>
    </section>
    <div id="primary" class="content-area " style="margin-bottom: 0px;">
        <main id="main" class="site-main noo-container">
            <div class="noo-row">
                {% for push in pushs %}
                    {% if push.image %}
                        <div class="noo-main noo-md-4">
                            <a href="{{ push.link }}" >
                                <img
                                    style="height: 250px; width: 100%"
                                    src="{{ asset('images/push/'  ~ push.image) }}"
                                />
                            </a>
                        </div>
                    {% else %}
                        <div class="noo-main noo-md-4">
                            <div class="card" style="{{ push.backgroundColor ? 'background-color:' ~ push.backgroundColor ~ ';' }}{{ push.textColor ? 'color:' ~ push.textColor ~ ';' }}">
                                <header>
                                    <h2>{{ push.title }}</h2>
                                    <span class="push-date"><i class="far fa-calendar-alt"></i> Publié le {{ push.createdAt|date('d/m/Y') }}</span>
                                </header>
                                <p>{{ push.body|raw }}</p>
                                <footer>
                                    <a  {{ '.pdf' in push.link ? 'download' }} style="{{ push.textColor ? 'color:' ~ push.textColor ~ ';' }}" href="{{ push.link }}">
                                        <i class="fa fa-angle-right"></i> {{ push.cta }}
                                    </a>
                                </footer>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="noo-row">
                <div class="noo-main noo-md-12" style="text-align: center; margin-top: 30px">
                    <a type="submit" href="{{ url('push') }}" class="noo-button">Voir toutes nos news</a>
                </div>
            </div>

            <div class="noo-row">
                <div class="noo-main noo-md-12">
                    <div class="noo-title-header">
                        <div class="noo-theme-wraptext">
                            <div class="wrap-title">
                                <h3 class="noo-theme-title">
                                    <span class="first-word">Nos Biens en <span></span></span> Location
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="noo-row noo-list-property style-grid">
                {% for property in properties %}
                    <div class="noo-main noo-md-4">
                        <div class="noo-property-item-wrap">
                            <div class="noo-item-head">
                                <h4 class="item-title">
                                    <a href="{{ property.url }}" title="{{ property.title }}">{{ property.title }}</a>
                                </h4>
                                <address>
                                    <i class="fa fa-map-marker-alt"></i>
                                    {% if property.neighborhood %}
                                        <span >{{ property.neighborhood }}</span> -
                                    {% endif %}
                                    <span >{{ property.street }}</span>
                                </address>
                            </div>
                            <div class="noo-item-featured">
                                <a href="{{ property.url }}" title="{{ property.title }}">
                                    <img class="rp-thumbnail" src="{{ asset('images/property/'  ~ property.image) }}" alt="{{ property.title }}">
                                </a>
                            </div>
                            <div class="noo-info">

                                {% if property.surface %}
                                    <span>
                                            <i class="cfa-yellow fas fa-ruler"></i> Surface: {{ property.surface }} m²
                                        </span>
                                {% endif %}
                                {% if property.room %}
                                    <span>
                                            <i class="cfa-yellow fas fa-bed"></i> Chambres: {{ property.room }}
                                        </span>
                                {% endif %}
                                {% if property.dpe %}
                                    <span>
                                            <i class="cfa-yellow fas fa-thermometer-half"></i> Classe DPE: {{ property.dpe }}
                                        </span>
                                {% endif %}
                                {% if property.floor %}
                                    <span>
                                            <i class="cfa-yellow fas fa-building"></i> Etage: {{ property.floor }}
                                        </span>
                                {% endif %}
                                {% if property.heating %}
                                    <span>
                                            <i class="cfa-yellow fas fa-fire"></i> Chauffage: {{ property.heating }}
                                        </span>
                                {% endif %}
                                {% if property.gse %}
                                    <span>
                                            <i class="cfa-yellow fas fa-home"></i> GES: {{ property.gse }}
                                        </span>
                                {% endif %}
                            </div>
                            <div class="noo-action">
                                <div class="property-price">
                                    {% if property.price > 0 %}
                                        {% if property.type == 'location' %}
                                            <h4 >{{ property.price }} euros / mois</h4>
                                        {% else %}
                                            <h4 >{{ property.price }} euros</h4>
                                        {% endif %}
                                    {% else %}
                                        <h4 >Renseignez-vous</h4>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="noo-row">
                <div class="noo-main noo-md-12" style="text-align: center; margin-top: 30px">
                    <a type="submit" href="{{ url('rental-list') }}" class="noo-button">Voir plus d'offres</a>
                </div>
            </div>

        </main>
    </div>
{% endblock %}
