<footer class="wrap-footer footer_1">

    <div class="main-footer">
        <div class="colophon wigetized">
            <div class="noo-container">
                <div class="noo-row">
                    <div class="xxx footer-column-item noo-md-4 noo-sm-6">
                        <div id="text-2" class="widget widget_text">
                            <h4 class="widget-title">Contact</h4>
                            <div class="textwidget">
                                <ul class="contact-info">
                                    <li><i class="fa fa-map-marker"></i> 142 bd Gambetta , SAINT-QUENTIN</li>
                                    <li><i class="fa fa-phone"></i> Tel: 03 23 06 11 11</li>
                                    <li><i class="fas fa-fax"></i></i> Fax: 03 23 67 10 52</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="xxx footer-column-item noo-md-4 noo-sm-6">
                        <div id="text-3" class="widget widget_text">
                            <h4 class="widget-title">Horaires</h4>
                            <div class="textwidget">
                                <ul class="open-info">
                                    <li>{{ config.schedule_first_line }}</li>
                                    <li>{{ config.schedule_second_line }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="xxx footer-column-item noo-md-4 noo-sm-6">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h4 class="widget-title">Liens Utiles</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-useful-link" class="menu">
                                    <li id="menu-item-2345" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2345"><a href="{{ url('contact') }}">Nous Contacter</a></li>
                                    <li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1476"><a href="{{ url('download') }}">Documents à Télécharger</a></li>
                                    <li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1476"><a href="{{ config.partner_url }}">Nos Partenaires</a></li>
                                    <li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1476"><a href="{{ config.legal_url }}">Mentions Légales</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>