<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Habitat Saint-Quentinois{% endblock %}</title>
    <meta name="description" content="{% block description %}Habitat Saint-Quentinois{% endblock %}" />
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="Habitat Saint-Quentinois" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    {% block stylesheets %}{% endblock %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">
<header class="noo-header header_default">
    <div class="navbar-wrapper">
        <div class="noo-topbar">
            <div class="noo-container">
                <div class="noo-topmeta noo-topmeta-left pull-left">
                    <i class="fa fa-mobile"></i>
                    Téléphone: <a href="tel:0323061111">03.23.06.11.11</a>
                </div>
                <div class="noo-topmeta noo-topmeta-right pull-right">

                    <a id="menu-item-register" class="noo-popup-register noo-login-button menu-item-register" href="{{ url('contact') }}" title="Contactez-nous"><i class="fa fa-edit"></i> Contactez-nous </a>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="noo-container">
                <div class="navbar-content">
                    <div class="navbar-header noo-md-2">
                        <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a href="/" class="navbar-brand" title="Habitat Saint-Quentinois">
                            <img class="noo-logo-img noo-logo-normal" src="{{ asset('images/logo.png') }}" alt="Habitat Saint-Quentinois">
                        </a>
                    </div>
                    {{ render(controller('App\\Controller\\MenuController::main')) }}
                    <div class="noo-md-2 navbar-meta meta-property">
                        <div class="meta-content">
                            <a href="#"
                               class="meta-property noo-button" data-toggle="modal" data-target="#espace-locataire-login">
                                <span><i class="fa fa-user-circle"></i></span>Espace Locataire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block body %}{% endblock %}
{{ render(controller('App\\Controller\\BlockController::footer')) }}
{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
<div class="bootstrap">
    <div class="modal fade" id="espace-locataire-login" tabindex="-1" role="dialog" aria-labelledby="Espace Locataire" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connexion Espace Locataire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" action="http://www.habitatsaintquentinois.fr/EspaceLocataire/User/profil/validationsignature" method="post">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label required">Identifiant</label>
                            <div class="col-sm-8">
                                <input name="identifiant" type="text" class="form-control" id="identifiant" placeholder="Identifiant" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 col-form-label required">Mot de passe</label>
                            <div class="col-sm-8">
                                <input name="motdepasse" type="password" class="form-control" id="motdepasse" placeholder="Mot de passe" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">Mémoriser</div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input name="souvenir" class="form-check-input" id="souvenir" type="checkbox" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-right">
                            <div class="col-sm-12" style="text-align:center">
                                <button type="submit" class="btn btn-primary">S'identifier</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <i>
                        En cochant la case "Mémoriser", votre identification sera mémorisée sur votre ordinateur.Pour cela, votre navigateur doit accepter les cookies.
                        Si votre ordinateur est partagé entre plusieurs utilisateurs, ne pas cocher cette case.
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
