{% extends 'base.html.twig' %}

{% block title %}Documents à Télécharger{% endblock %}

{% block body %}

<div id="primary" class="content-area" style="margin-bottom: 0px;">
    <main id="main" class="site-main noo-container">
        <div class="noo-row">
            <div class="noo-row noo-list-property style-grid">
                {% for document in documents %}
                    <div class="noo-main noo-md-6">
                        <div class="noo-property-item-wrap">
                            <div class="noo-row">
                                <div class="noo-main noo-md-3" style="padding: 5px">
                                    <a download="{{ document.fileNameProperty }}" href="{{ asset('upload/document/download/'  ~ document.fileNameProperty) }}">
                                        <img class="rp-thumbnail" src="{{ asset('upload/images/download/'  ~ document.image) }}" alt="{{ document.name }}">
                                    </a>
                                </div>
                                <div class="noo-main noo-md-8">
                                    <h4>{{ document.name }}</h4>
                                    <i>{{ document.createdAt|date('d/m/Y') }} - Taille: {{ (document.size / 1000)|round  }} ko </i>
                                    {{ document.description|raw }}
                                    <div style="text-align: right">
                                        <a download="{{ document.fileNameProperty }}" href="{{ asset('upload/document/download/'  ~ document.fileNameProperty) }}" class="noo-button">Télécharger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
